body{
    background-color: rgb(43, 102, 58);
}

.lista2{
    color:rgb(156, 160, 96);
    padding: 15px;
    margin-top: 50px;
   
}
.caja-texto{
    background-color: white;
    border: 5px solid yellow;
  
    padding-left: 250px;
padding-right: 250px;
    margin: 20px;
}
p{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(212, 48, 199);
}

.tipo-verdana{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: grey;
font-size: 15px;
}