body {
    display: flex;
    background-color: #0f172a;
    min-height: 100vh;
    margin: 0;
}

.container-principal {
    display: flex;
    flex-direction: column;
    flex: 1;
}


header {
    padding: 10px;
    background-color: #1e293b;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
    font-family: 'Inter', system-ui, sans-serif;
    color: #e2e8f0;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px 0px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#integrantes {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    font-size: 1.5rem;
    color: #e2e8f0;
    box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.5);
    padding: 15px;
    text-align: center;
}

ul{
 padding-left: 40px;
 padding-right: 40px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #1e293b;
    color: white;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
}