.mi-boton {
  width: 200px;
}

.mi-separacion {
  padding-top: 200px !important;
}
.mancho {
  width: 300px;

}
.colors {
  background-color: #a2c7de;

}
.colorc{
    background-color: #35424a !important;
}
.colort{
    color: white;
}