@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    background-image: url("../img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
}


.title {
    font-size: 2.5rem;
    color: #ff4d4d;
    text-align: center;
}

.title span {
    color: #ffffff;
}

.subtitle {
    margin: 10px 0 20px;
    text-align: center;
}

/*pokeball*/
.title-container img {
    display: block;
    margin: 0 auto 15px;
    width: 90px;
}

/*input*/
.inputContainer {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 420px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
}

/*botón*/
button {
    padding: 12px 18px;
    background: #ff4d4d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background: #e60000;
}

/*card*/
.card {
    background: #ffffff;
    color: #222;
    padding: 15px;
    margin-top: 10px;

    width: 250px;   
    height: 300px;  

    border-radius: 12px;
    text-align: center;

    border: 2px solid #ff4d4d;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card h2 {
    text-transform: capitalize;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

/*imagen*/
.img-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-img {
    width: 180px;
}

/*error*/
.error {
    margin-top: 20px;
    text-align: center;
}

.error img {
    width: 100px;
}

/*loader*/
.loader {
    margin-top: 20px;
    border: 4px solid #ccc;
    border-top: 4px solid #ff4d4d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

/*animacion*/
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/*hovercard*/
.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.8),
                0 0 12px rgba(255, 77, 77, 0.6);
}

/*responsive*/
@media (max-width: 500px) {
    .title {
        font-size: 2rem;
    }

    .inputContainer {
        flex-direction: column;
    }

    button {
        width: 100%;
    }

    .card {
        max-width: 90%;
        padding: 18px;
    }

    .pokemon-img {
        width: 160px;
    }
}
.hidden {
    display: none;
}