body {
    background-color: blueviolet;
}

.lista2 {
    color: aqua;
    padding: 15px;
    margin-top: 50px;
}

.caja-texto {
    background-color: white;
    border: 5px solid yellow;
    padding-left: 250px;
    padding-right: 250px;
    margin: 20px;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

.tipo-verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    font-size: 15px;
}